<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SecretKey" value="Smart.PipeCloud.Portal"/>
    <add key="WriteServerConStr" value="172.30.17.107:6379"/>
    <add key="ReadServerConStr" value="172.30.17.107:6379"/>
    
    <!--<add key="WriteServerConStr" value="172.30.17.141:7000,172.30.17.141:7001,172.30.17.141:7002"/>
    <add key="ReadServerConStr" value="172.30.17.141:7003,172.30.17.141:7004,172.30.17.141:7005"/>-->
    
  </appSettings>
</configuration>