<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.5"/>
  </system.web>
  <system.webServer>
  </system.webServer>
  <appSettings>
    <add key="Log4" value="E:\Github\C#\trunk\WeiXin\WeiXin\Config\Log4.xml"/>
    <add key="AppID" value="wxe776210636b60e93"/>
    <add key="AppSecret" value="0babe2d89bbbcddaf794cec987c398f5"/>
    <add key="token" value="raorao"/>
    <add key="EncodingAESKey" value="FvIGThY1lCyqoJLrgbkkBqIEu1AXk1g5v1OnyEEJ1Fh"/>
  </appSettings>
</configuration>