<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>

    <context>
      <!--<resource uri="assembly://Test03/Test03/Objects.xml"/>
      <resource uri="assembly://Test03/Test03/o1.xml"/>-->
      <!--<resource url="file:E:\Github\C#\trunk\SpringTest\Test03\Objects.xml" />-->
      <!--<resource url="config://Object.xml" />-->
    </context>
    <objects xmlns="http://www.springframework.net"/>
    <!--必要-->
  </spring>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>